@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(icons.woff2) format('woff2');
}
#mixins .theme {
  background-color: #0f0f0f;
  color: #a9a9a9;
  border: 1px solid #676767;
  font-family: 'Consolas';
}
#mixins .icon {
  font-family: 'Material Icons';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}
#mixins .webkit ::-webkit-scrollbar {
  background-color: #0f0f0f;
  height: 10px;
  pointer-events: all;
}
#mixins .webkit ::-webkit-scrollbar-thumb {
  background-color: #343434;
}
#mixins .webkit ::-webkit-search-cancel-button {
  -webkit-appearance: none;
  border-radius: 50%;
  background: #676767;
  height: 10px;
  width: 10px;
  content: 'x';
}
#mixins .webkit ::-webkit-search-cancel-button {
  -webkit-appearance: none;
  border-radius: 50%;
  background: #676767;
  height: 10px;
  width: 10px;
  content: 'x';
}
filler,
scroller,
text-btn,
icon-btn,
now-playing,
time-machine,
btn-box {
  display: block;
}
.blur {
  filter: blur(4px);
}
.bold {
  font-weight: bold;
}
.icon {
  font-family: 'Material Icons';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}
body {
  background-color: #0f0f0f;
  color: #a9a9a9;
  font-family: 'Consolas';
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
}
body ::-webkit-scrollbar {
  background-color: #0f0f0f;
  height: 10px;
  pointer-events: all;
}
body ::-webkit-scrollbar-thumb {
  background-color: #343434;
}
body ::-webkit-search-cancel-button {
  -webkit-appearance: none;
  border-radius: 50%;
  background: #676767;
  height: 10px;
  width: 10px;
  content: 'x';
}
body ::-webkit-search-cancel-button {
  -webkit-appearance: none;
  border-radius: 50%;
  background: #676767;
  height: 10px;
  width: 10px;
  content: 'x';
}
stacker {
  display: flex;
  flex-direction: column;
}
scroller {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 150px;
}
filler {
  display: block;
  flex: auto;
}
icon-btn,
rc-btn {
  margin: auto;
  font-family: 'Material Icons';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #0f0f0f;
  text-align: center;
  transition: color 2s;
  color: unset;
}
icon-btn:hover,
rc-btn:hover {
  font-weight: bold;
  color: #a9a9a9;
}
icon-btn:active,
rc-btn:active {
  position: relative;
  top: 2px;
  font-weight: bold;
  transition: 0.1s;
}
text-btn {
  border: 1px solid #676767;
  text-align: center;
  color: unset;
  transition: 0.1s;
}
text-btn:hover {
  font-weight: bold;
  color: #a9a9a9;
}
text-btn:active {
  position: relative;
  top: 2px;
  font-weight: bold;
  color: #a9a9a9;
  transition: 0.2s;
}
row {
  display: flex;
  margin: 0 4px 4px;
}
#home {
  max-width: 300px;
  margin: 0 auto;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  border-bottom: 1px solid #343434;
}
header-menu {
  display: flex;
  position: relative;
  border-bottom: 1px solid #343434;
}
header-menu:hover .header-dd {
  display: block;
}
header-menu .header-bar {
  height: 50px;
  flex: auto;
  display: flex;
}
header-menu .header-bar icon-btn {
  padding: 0px 4px;
  flex: none;
}
header-menu .header-bar .header-title {
  flex: none;
  margin: auto 10px;
}
header-menu .header-dd {
  display: none;
  background-color: #0f0f0f;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border-bottom: 1px solid #343434;
  z-index: 1;
}
header-menu .header-dd .menu-item {
  transition: 0.2s;
  padding: 4px 10px;
  border-top: 1px solid #343434;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
header-menu .header-dd .menu-item:hover {
  transition: 0s;
  background-color: #343434;
}
thumb-box img {
  width: 100%;
  filter: brightness(0.5);
}
thumb-box img:hover {
  filter: brightness(1);
}
btn-box row {
  margin: 0 20px;
}
btn-box row rc-blank {
  flex-grow: 1;
  flex-basis: 0;
}
btn-box row rc-btn {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 50px;
  transition: 0.2s;
  height: 80px;
  width: 80px;
  vertical-align: middle;
  line-height: 80px;
}
btn-box row rc-btn:hover {
  transition: 0s;
  background-color: #343434;
}
now-playing {
  padding: 10px 10px 0 10px;
}
now-playing .playlist,
now-playing .date,
now-playing .id {
  color: #676767;
}
time-machine input {
  appearance: none;
  width: 100%;
  background: #343434;
  outline: none;
  opacity: 0.5;
  transition: opacity 0.2s;
}
time-machine input:hover {
  opacity: 1.0;
}
time-machine input::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background: #a9a9a9;
}
time-machine row {
  margin: 0 14px;
  color: #676767;
}
/*# sourceMappingURL=web.css.map */