# lives in /lib/systemd/system/snapraid_mgr.service

[Unit]
Description=snapraid_mgr

[Service]
Type=oneshot
ExecStart=/usr/bin/snapraid_mgr


# systemd logs to journal by default, and all writes to stdout are visible in the journal
# run the following to view logs for this service:
#       journalctl -u snapraid_mgr.service