.*
!/.gitignore
connected/wg/*
connected/connected.conf
connected/connected
dnsup/dnsup
dnsup/dnsup.conf
extract/extract
ssd_flush/ssd_flush
hydra/hydra
hydra/hydra.conf
mux/mux
threader/threader
_experiments
mux/subtitle_notes
m/m
/snapraid_mgr/snapraid_mgr
/yt/yt
/kodictl/