# lives in /lib/systemd/system/hydra.service

[Unit]
Description=hydra loves you
Requires=docker.service island.service
After=docker.service island.service sonarr.service
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/bin/hydra
User=jeremy
Group=jeremy
#Restart=on-failure

[Install]
WantedBy=multi-user.target


# systemd logs to journal by default, and all writes to stdout are visible in the journal
# run the following to view logs for this service:
#       journalctl -u hydra.service