# lives in /lib/systemd/system/yt.service

[Unit]
Description=yt

[Service]
Type=oneshot
ExecStart=/usr/bin/yt
User=jeremy
Group=jeremy

# systemd logs to journal by default, and all writes to stdout are visible in the journal
# run the following to view logs for this service:
#       journalctl -u yt.service