# lives in /lib/systemd/system/yt.timer

[Unit]
Description=Periodically runs the yt service

[Timer]
OnCalendar=Mon,Thu 06:00:00
Unit=yt.service
Persistent=true

[Install]
WantedBy=multi-user.target
